# npm
node_modules
package-lock.json
*.log
*.gz

# Coverage reports
coverage
.nyc_output

# API keys and secrets
.env*

# OS metadata
.DS_Store

# Ignore built ts files
dist/**/*

# Benchmarking
benchmarks/graphs